In [1]:
import numpy as np
import pandas as pd
import scanpy as sc
import os

# Generate loom files

In [2]:
for seed in range(1, 11):
    base_dir = './Sim/Sim%d' % seed
    count = pd.read_table('%s/counts.txt' % base_dir)
    cellinfo = pd.read_table('%s/cellinfo.txt' % base_dir)
    geneinfo = pd.read_table('%s/geneinfo.txt' % base_dir)
    adata = sc.AnnData(count.values)
    adata.obs = cellinfo[['Batch', 'Group', 'ExpLibSize']].rename(columns={'Batch': 'batch', 'Group': 'celltype'})
    adata.var = geneinfo
    adata.var_names.name = 'Gene'
    adata.obs_names.name = 'CellID'
    sc.pp.filter_cells(adata, min_genes=200)
    sc.pp.filter_genes(adata, min_cells=3)
    adata.write_loom('%s/Sim%d_raw.loom' % (base_dir, seed))

# Generate subsampled files for different scenarios

In [3]:
batch1_prop_cells = [1/2, 1/4, 1/8]
rare1_prop_cells = [1/2, 1/5, 1/10]
common_cells = [5, 3, 1]

In [4]:
for seed in range(1, 11):
    base_dir = './Sim/Sim%d' % seed
    adata = sc.read_loom('%s/Sim%d_raw.loom' % (base_dir, seed))
    for number in common_cells:
        os.mkdir('%s/common_%d' % (base_dir, number))
        common_ct = ['Group%d' % i for i in range(1, number+1)]
        index0 = adata.obs_names[adata.obs.celltype.isin(common_ct)]
        specific_number = 7 - number
        # Get specific cell types for Batch1
        specific_ct = ['Group%d' % i for i in range(number+1, int(number+1+specific_number/2))]
        index1 = adata.obs_names[adata.obs.celltype.isin(specific_ct) & (adata.obs.batch=='Batch1')]
        # Get specific cell types for Batch2
        specific_ct = ['Group%d' % i for i in range(int(number+1+specific_number/2), 7+1)]
        index2 = adata.obs_names[adata.obs.celltype.isin(specific_ct) & (adata.obs.batch=='Batch2')]
        adata_sub = adata[index0.union(index1).union(index2)]
        print(pd.crosstab(adata_sub.obs.celltype, adata_sub.obs.batch))
        adata_sub.write_loom('%s/common_%d/Sim%d_raw.loom' % (base_dir, number, seed))

batch     Batch1  Batch2
celltype
Group1       229     247
Group2       241     263
Group3       227     224
Group4       227     243
Group5       232     232
Group6       194       0
Group7         0     223
batch     Batch1  Batch2
celltype
Group1       229     247
Group2       241     263
Group3       227     224
Group4       227       0
Group5       232       0
Group6         0     201
Group7         0     223
batch     Batch1  Batch2
celltype
Group1       229     247
Group2       241       0
Group3       227       0
Group4       227       0
Group5         0     232
Group6         0     201
Group7         0     223
batch     Batch1  Batch2
celltype
Group1       246     209
Group2       244     225
Group3       237     220
Group4       221     223
Group5       210     232
Group6       209       0
Group7         0     217
batch     Batch1  Batch2
celltype
Group1       246     209
Group2       244     225
Group3       237     220
Group4       221       0
Group5       210       0
Group6         0     237
Group7         0     217
batch     Batch1  Batch2
celltype
Group1       246     209
Group2       244       0
Group3       237       0
Group4       221       0
Group5         0     232
Group6         0     237
Group7         0     217
batch     Batch1  Batch2
celltype
Group1       209     216
Group2       213     209
Group3       216     203
Group4       239     192
Group5       214     200
Group6       227       0
Group7         0     198
batch     Batch1  Batch2
celltype
Group1       209     216
Group2       213     209
Group3       216     203
Group4       239       0
Group5       214       0
Group6         0     200
Group7         0     198
batch     Batch1  Batch2
celltype
Group1       209     216
Group2       213       0
Group3       216       0
Group4       239       0
Group5         0     200
Group6         0     200
Group7         0     198
batch     Batch1  Batch2
celltype
Group1       224     216
Group2       245     227
Group3       247     225
Group4       224     253
Group5       238     250
Group6       225       0
Group7         0     217
batch     Batch1  Batch2
celltype
Group1       224     216
Group2       245     227
Group3       247     225
Group4       224       0
Group5       238       0
Group6         0     213
Group7         0     217
batch     Batch1  Batch2
celltype
Group1       224     216
Group2       245       0
Group3       247       0
Group4       224       0
Group5         0     250
Group6         0     213
Group7         0     217
batch     Batch1  Batch2
celltype
Group1       246     240
Group2       218     218
Group3       241     216
Group4       244     226
Group5       216     215
Group6       264       0
Group7         0     234
batch     Batch1  Batch2
celltype
Group1       246     240
Group2       218     218
Group3       241     216
Group4       244       0
Group5       216       0
Group6         0     219
Group7         0     234
batch     Batch1  Batch2
celltype
Group1       246     240
Group2       218       0
Group3       241       0
Group4       244       0
Group5         0     215
Group6         0     219
Group7         0     234
batch     Batch1  Batch2
celltype
Group1       242     202
Group2       230     196
Group3       211     235
Group4       227     217
Group5       213     229
Group6       227       0
Group7         0     220
batch     Batch1  Batch2
celltype
Group1       242     202
Group2       230     196
Group3       211     235
Group4       227       0
Group5       213       0
Group6         0     253
Group7         0     220
batch     Batch1  Batch2
celltype
Group1       242     202
Group2       230       0
Group3       211       0
Group4       227       0
Group5         0     229
Group6         0     253
Group7         0     220
batch     Batch1  Batch2
celltype
Group1       230     219
Group2       222     219
Group3       241     220
Group4       225     192
Group5       238     186
Group6       187       0
Group7         0     199
batch     Batch1  Batch2
celltype
Group1       230     219
Group2       222     219
Group3       241     220
Group4       225       0
Group5       238       0
Group6         0     229
Group7         0     199
batch     Batch1  Batch2
celltype
Group1       230     219
Group2       222       0
Group3       241       0
Group4       225       0
Group5         0     186
Group6         0     229
Group7         0     199
batch     Batch1  Batch2
celltype
Group1       227     231
Group2       237     199
Group3       230     232
Group4       231     223
Group5       199     211
Group6       244       0
Group7         0     222
batch     Batch1  Batch2
celltype
Group1       227     231
Group2       237     199
Group3       230     232
Group4       231       0
Group5       199       0
Group6         0     222
Group7         0     222
batch     Batch1  Batch2
celltype
Group1       227     231
Group2       237       0
Group3       230       0
Group4       231       0
Group5         0     211
Group6         0     222
Group7         0     222
batch     Batch1  Batch2
celltype
Group1       227     235
Group2       226     227
Group3       231     215
Group4       255     227
Group5       228     228
Group6       238       0
Group7         0     222
batch     Batch1  Batch2
celltype
Group1       227     235
Group2       226     227
Group3       231     215
Group4       255       0
Group5       228       0
Group6         0     221
Group7         0     222
batch     Batch1  Batch2
celltype
Group1       227     235
Group2       226       0
Group3       231       0
Group4       255       0
Group5         0     228
Group6         0     221
Group7         0     222
batch     Batch1  Batch2
celltype
Group1       211     267
Group2       224     233
Group3       239     212
Group4       240     235
Group5       207     210
Group6       208       0
Group7         0     216
batch     Batch1  Batch2
celltype
Group1       211     267
Group2       224     233
Group3       239     212
Group4       240       0
Group5       207       0
Group6         0     190
Group7         0     216
batch     Batch1  Batch2
celltype
Group1       211     267
Group2       224       0
Group3       239       0
Group4       240       0
Group5         0     210
Group6         0     190
Group7         0     216

In [5]:
for seed in range(1,11):
    base_dir = './Sim/Sim%d' % seed
    adata = sc.read_loom('%s/Sim%d_raw.loom' % (base_dir, seed))
    total = np.sum(adata.obs.celltype == 'Group1')
    for number in rare1_prop_cells:
        os.mkdir('%s/rare1_%.1f' % (base_dir, number))
        obs_names = np.random.choice(adata.obs_names[adata.obs.celltype == 'Group1'], 
                                     int(total*(1-number)), replace=False)
        adata_sub = adata[~adata.obs_names.isin(obs_names)]
        print(adata_sub.obs.celltype.value_counts())
        adata_sub.write_loom('%s/rare1_%.1f/Sim%d_raw.loom' % (base_dir, number, seed))

Group2    504
Group4    470
Group5    464
Group7    458
Group3    451
Group6    395
Group1    238
Name: celltype, dtype: int64
Group2    504
Group4    470
Group5    464
Group7    458
Group3    451
Group6    395
Group1     96
Name: celltype, dtype: int64
Group2    504
Group4    470
Group5    464
Group7    458
Group3    451
Group6    395
Group1     48
Name: celltype, dtype: int64
Group2    469
Group3    457
Group6    446
Group4    444
Group5    442
Group7    430
Group1    228
Name: celltype, dtype: int64
Group2    469
Group3    457
Group6    446
Group4    444
Group5    442
Group7    430
Group1     91
Name: celltype, dtype: int64
Group2    469
Group3    457
Group6    446
Group4    444
Group5    442
Group7    430
Group1     46
Name: celltype, dtype: int64
Group7    434
Group4    431
Group6    427
Group2    422
Group3    419
Group5    414
Group1    213
Name: celltype, dtype: int64
Group7    434
Group4    431
Group6    427
Group2    422
Group3    419
Group5    414
Group1     85
Name: celltype, dtype: int64
Group7    434
Group4    431
Group6    427
Group2    422
Group3    419
Group5    414
Group1     43
Name: celltype, dtype: int64
Group5    488
Group4    477
Group2    472
Group3    472
Group7    444
Group6    438
Group1    220
Name: celltype, dtype: int64
Group5    488
Group4    477
Group2    472
Group3    472
Group7    444
Group6    438
Group1     88
Name: celltype, dtype: int64
Group5    488
Group4    477
Group2    472
Group3    472
Group7    444
Group6    438
Group1     44
Name: celltype, dtype: int64
Group6    483
Group4    470
Group3    457
Group7    449
Group2    436
Group5    431
Group1    243
Name: celltype, dtype: int64
Group6    483
Group4    470
Group3    457
Group7    449
Group2    436
Group5    431
Group1     98
Name: celltype, dtype: int64
Group6    483
Group4    470
Group3    457
Group7    449
Group2    436
Group5    431
Group1     49
Name: celltype, dtype: int64
Group6    480
Group7    451
Group3    446
Group4    444
Group5    442
Group2    426
Group1    222
Name: celltype, dtype: int64
Group6    480
Group7    451
Group3    446
Group4    444
Group5    442
Group2    426
Group1     89
Name: celltype, dtype: int64
Group6    480
Group7    451
Group3    446
Group4    444
Group5    442
Group2    426
Group1     45
Name: celltype, dtype: int64
Group3    461
Group2    441
Group7    438
Group5    424
Group4    417
Group6    416
Group1    225
Name: celltype, dtype: int64
Group3    461
Group2    441
Group7    438
Group5    424
Group4    417
Group6    416
Group1     90
Name: celltype, dtype: int64
Group3    461
Group2    441
Group7    438
Group5    424
Group4    417
Group6    416
Group1     45
Name: celltype, dtype: int64
Group6    466
Group3    462
Group4    454
Group7    452
Group2    436
Group5    410
Group1    229
Name: celltype, dtype: int64
Group6    466
Group3    462
Group4    454
Group7    452
Group2    436
Group5    410
Group1     92
Name: celltype, dtype: int64
Group6    466
Group3    462
Group4    454
Group7    452
Group2    436
Group5    410
Group1     46
Name: celltype, dtype: int64
Group4    482
Group6    459
Group5    456
Group2    453
Group7    453
Group3    446
Group1    231
Name: celltype, dtype: int64
Group4    482
Group6    459
Group5    456
Group2    453
Group7    453
Group3    446
Group1     93
Name: celltype, dtype: int64
Group4    482
Group6    459
Group5    456
Group2    453
Group7    453
Group3    446
Group1     47
Name: celltype, dtype: int64
Group4    475
Group2    457
Group7    454
Group3    451
Group5    417
Group6    398
Group1    239
Name: celltype, dtype: int64
Group4    475
Group2    457
Group7    454
Group3    451
Group5    417
Group6    398
Group1     96
Name: celltype, dtype: int64
Group4    475
Group2    457
Group7    454
Group3    451
Group5    417
Group6    398
Group1     48
Name: celltype, dtype: int64

In [6]:
for seed in range(1,11):
    base_dir = './Sim/Sim%d' % seed
    adata = sc.read_loom('%s/Sim%d_raw.loom' % (base_dir, seed))
    batch1_n = np.sum(adata.obs.batch == 'Batch1')
    for number in batch1_prop_cells:
        os.mkdir('%s/batch1_%d' % (base_dir, number))
        obs_names = np.random.choice(adata.obs_names[adata.obs.batch == 'Batch1'], 
                                     int((1-number)*batch1_n), replace=False)
        adata_sub = adata[~adata.obs_names.isin(obs_names)]
        print(adata_sub.obs.batch.value_counts())
        adata_sub.write_loom('%s/batch1_%.3f/Sim%d_raw.loom' % (base_dir, number, seed))

Batch2    1633
Batch1     793
Name: batch, dtype: int64
Batch2    1633
Batch1     397
Name: batch, dtype: int64
Batch2    1633
Batch1     199
Name: batch, dtype: int64
Batch2    1563
Batch1     790
Name: batch, dtype: int64
Batch2    1563
Batch1     395
Name: batch, dtype: int64
Batch2    1563
Batch1     198
Name: batch, dtype: int64
Batch2    1418
Batch1     777
Name: batch, dtype: int64
Batch2    1418
Batch1     389
Name: batch, dtype: int64
Batch2    1418
Batch1     195
Name: batch, dtype: int64
Batch2    1601
Batch1     815
Name: batch, dtype: int64
Batch2    1601
Batch1     408
Name: batch, dtype: int64
Batch2    1601
Batch1     204
Name: batch, dtype: int64
Batch2    1568
Batch1     822
Name: batch, dtype: int64
Batch2    1568
Batch1     411
Name: batch, dtype: int64
Batch2    1568
Batch1     206
Name: batch, dtype: int64
Batch2    1552
Batch1     791
Name: batch, dtype: int64
Batch2    1552
Batch1     396
Name: batch, dtype: int64
Batch2    1552
Batch1     198
Name: batch, dtype: int64
Batch2    1464
Batch1     791
Name: batch, dtype: int64
Batch2    1464
Batch1     396
Name: batch, dtype: int64
Batch2    1464
Batch1     198
Name: batch, dtype: int64
Batch2    1540
Batch1     799
Name: batch, dtype: int64
Batch2    1540
Batch1     400
Name: batch, dtype: int64
Batch2    1540
Batch1     200
Name: batch, dtype: int64
Batch2    1575
Batch1     818
Name: batch, dtype: int64
Batch2    1575
Batch1     409
Name: batch, dtype: int64
Batch2    1575
Batch1     205
Name: batch, dtype: int64
Batch2    1563
Batch1     784
Name: batch, dtype: int64
Batch2    1563
Batch1     392
Name: batch, dtype: int64
Batch2    1563
Batch1     196
Name: batch, dtype: int64